* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

#heading {
    height: 900px;
    width: 750px;
    border: 5px solid blue;
    align-content: center;
    margin: 10%;
    align-items: center;
    background-color: fuchsia;
}

h1 {
    color: blueviolet;
    text-align: center;
}

body {
    background-color: black;
    align-content: center;
}

form {
    margin-left: 20px;
}
